<ion-view title="TheTax">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-content class="has-header">
		<div>
			<label>Annual gross income</label>
			<input type="number" ng-model="main.salary.grossYear" autofocus>
		</div>

		<!--<div>-->
			<!--<div>-->
				<!--<div layo ng-repeat-start="(salaryOptionKey,  salaryOptionTitle) in main.salaryOutputOptions">-->
					<!--<div>-->
						<!--{{::salaryOptionTitle}}-->
					<!--</div>-->
					<!--<div class="report-value">-->
						<!--{{main.salary[salaryOptionKey] | number:0}}-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div>-->
				<!--<md-content class="md-body-1">-->
					<!--<div layout="column" layout-margin>-->
						<!--&lt;!&ndash;<md-checkbox ng-model="main.salary.allowance" aria-label="I have 8% holiday allowance">I have 8% holiday allowance</md-checkbox>&ndash;&gt;-->
						<!--<md-checkbox ng-model="main.salary.age" aria-label="I'm 65+ years old">I'm 65+ years old</md-checkbox>-->
						<!--<md-checkbox ng-model="main.salary.socialSecurity" aria-label="Social security in the Netherlands">Social security</md-checkbox>-->
						<!--<md-checkbox ng-model="main.salary.ruling" aria-label="I have 30% ruling">I have 30% ruling</md-checkbox>-->
					<!--</div>-->
				<!--</md-content>-->
			<!--</div>-->
		<!--</div>-->
	</ion-content>
</ion-view>
